services:
  web:
    build: .
    container_name: react-app
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - GH_TOKEN=${GH_TOKEN}
