* {
    box-sizing: border-box;
    background-color: lightgray;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

.square {
    background: #fff;
    border: 2px solid #999;
    border-radius: 5px;
    float: left;
    font-size: 18vmin;
    font-weight: bold;
    line-height: 18vmin;
    height: 20vmin;
    width: 20vmin;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.board-row {
    display: flex;
    justify-content: center;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
    text-align: center;
    font-size: 10vmin;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    font-size: 6vmin;
    margin: 15vmin 0;
    overflow-y: auto;
    height: 55vmin;
    max-height: 55vmin;
    width: 45vmin;
    align-self: flex-start;
    border: 3px inset black;
    border-radius: 15px;
    background-color: #fff;
}

.game-info>ol {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.game-info>ol>li {
    background-color: #fff;
}

.history {
    border-radius: 10px;
    padding: 3px 20px;
    font-size: 4vmin;
}

.restart-button {
    margin: 5vmin auto 0 auto;
    padding: 4vmin 10vmin;
    font-size: 7vmin;
    cursor: pointer;
    display: block;
    background-color: white;
    border-radius: 5vmin;
}

.x {
    color: darkred;
}

.o {
    color: cornflowerblue;
}

@media (max-width: 768px) {
    .game {
        flex-direction: column;
        align-items: center;
    }

    .game-info {
        margin: 0;
        align-self: auto;
    }

    .history {
        font-size: 4vmin;
    }
}